{% load static  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My website</title>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <h1 style="color: rgba(240, 100, 8, 0.897); font-style:normal">This is Adarsh's website</h1>
        <h1>Hello checkign the styles in the heading</h1> 
        <a href="https://github.com/Adarsh78513"><img src="{% static '\myapp\github.png'%} " width="40px" height="40px"></a>
        <a href="https://www.linkedin.com/in/adarsh-raj-shivam-16634521a/"><img src="{% static 'myapp\Linkedin.png' %}" width="40px" height="40px"></a>
        <a href="https://www.instagram.com/adarsh_ra1/"><img src="{% static '\myapp\Instagram_logo.png' %}" alt="Instagram" width="40px" height="40px"></a>

    </body>
</html>